.body{
    text-align: center;
    color: red;
}

.image-div{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    bottom: 30%;
  }

  .support-div{
    position: fixed;
    bottom:0;
    right:0;
  }
  .blog-link{
    color:white;
    background-color:#f44336;
    padding: 15px 25px;
    display: inline-block;
    text-decoration: none;
  }
  .blog-div{
    left: 100px;
  }